/* ** IMPORTS ** */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* ** GLOBAL STYLES ** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
};

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 2rem 6rem;
  background-color: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: #27394e;
  font-size: 2rem;
}

/* NAV SECTION & HERO */

.main-head {
  background-color: #094b2c;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 5;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-size: 25px;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),transparent),
  url("../img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* To hide clouds outside the section: */
  overflow: hidden;
  z-index: 9;
}

.hero h2 {
  z-index: 1;
}

.hero h3 {
  padding: 5rem;
  z-index: 1;
}

.hero button {
  border-radius: 15px;
  z-index: 1;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 5s infinite alternate ease-in-out;
} 

@keyframes cloudAnimation {
 from {
  transform: translate(10%, -10%);
 }

 to {
  transform: translate(0%, 0%);
 }
}

/* ** LOCATIONS SECTION ** */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),transparent),
  url("../img/bridge.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0rem;
  /* background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* ** ACTIVITIES SECTION ** */

#activities {  
  background: url("../img/bgactivities.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.activities-head {
  background: #094b2c;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.activities-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  padding: 3rem;
  display: flex;
  min-height: 70vh;  
  align-items: center;
  flex-wrap: wrap;
}

.cards img {
  max-width: 35%;
  margin: 2rem;
}

.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 20px rgba(0, 0, 0, 0.3);
  /* To center icons */
  text-align: center;
  background-color: white;
}

.card h4, .card p {
  padding: 1rem;
}

.card-icon {
  background: rosybrown;
}

/* ** CONTACTS SECTION ** */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),transparent),
  url("../img/mntnclds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.9);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #094b2c;
}

.form-wrapper inputs {
  padding: 1rem 3rem;
}

/* ** FOOTER ** */

footer {
  color: white;
  background: #094b2c;
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

footer h5 {
  flex: 1 1 40rem;
}

/* ** MEDIA QUERY ** */

@media screen and (max-width: 932px) {

  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }
  
  #logo {
    padding: 2rem;
  }

  .cloud {
    height: 40rem;
    /* To delete image drag */
    pointer-events: none;
  }

  .moving-cloud-1 {
    z-index: -1;
  }
  
  .moving-cloud-2 {
    z-index: -2;
    top: 8%;
  }
  
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.9);
    color: white;
    padding: 1rem;
  }

  .form-wrapper {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer h5 {
    padding-bottom: 3rem;
  }
}